In [1]:
import numpy as np, pandas as pd
arr1 = np.arange(10)
print(arr1)
print(type(arr1))

[0 1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

In [2]:
s1 = pd.Series(arr1)
print(s1)
# 这个就是创建类似一维数组用的，不过比一维数组强的是
# 还可以通过索引标签获得数据，然后还能自动对齐
# 当然这个左侧的是计数用的

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [3]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [4]:
dic1 = {'a':10,'b':20,'c':30,'d':40,'e':50}
print(dic1)
print(type(dic1))
# 也可以通过dataframe中的某一行或者某一列创建序列

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
<class 'dict'>

In [5]:
# dataframe数据框，这里通过二维数组创建数据框
# 因为shape为二，就是二维
arr2 = np.array(np.arange(12)).reshape(4,3)
print(arr2)
print(type(arr2))

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
<class 'numpy.ndarray'>

In [6]:
df1 = pd.DataFrame(arr2)
print(df1)
# 最上一行和左侧一列是显示行数和列数
print(type(df1))

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11
<class 'pandas.core.frame.DataFrame'>

In [7]:
dic3 = {'one':{'a':1,'b':2,'c':3,'d':4},'two':{'a':5,'b':6,'c':7,'d':8},'three':{'a':9,'b':10,'c':11,'d':12}}
print(dic3)
print(type(dic3))

{'one': {'a': 1, 'b': 2, 'c': 3, 'd': 4}, 'two': {'a': 5, 'b': 6, 'c': 7, 'd': 8}, 'three': {'a': 9, 'b': 10, 'c': 11, 'd': 12}}
<class 'dict'>

In [8]:
df3 = pd.DataFrame(dic3)
# 这个就是用字典来创建了，这个也比较直观
print(df3)
print(type(df3))

   one  two  three
a    1    5      9
b    2    6     10
c    3    7     11
d    4    8     12
<class 'pandas.core.frame.DataFrame'>

In [9]:
s3 = df3['one']
print(s3)
print(type(s3))

a    1
b    2
c    3
d    4
Name: one, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
s4 = pd.Series(np.array([1,1,2,3,5,8]))
print(s4)
print(s4.index)

0    1
1    1
2    2
3    3
4    5
5    8
dtype: int32
RangeIndex(start=0, stop=6, step=1)

In [12]:
s4.index = ['a','b','c','d','e','f']
print(s4)

a    1
b    1
c    2
d    3
e    5
f    8
dtype: int32

In [13]:
print('s4[3]: ',s4[3])
print('s4[e]: ',s4['e'])
print("s4[1,3,5]: ",s4[[1,3,5]])
print("s4[['a','b','d','f']]: ",s4[['a','b','d','f']])
print('s4[:4]: ',s4[:4])
print("s4['c':]: ",s4['c':])
print("s4['b':'e']: ",s4['b':'e'])
# 用索引来搜索，注意这个获取数据的话，对应的值是可以返回的

s4[3]:  3
s4[e]:  5
s4[1,3,5]:  b    1
d    3
f    8
dtype: int32
s4[['a','b','d','f']]:  a    1
b    1
d    3
f    8
dtype: int32
s4[:4]:  a    1
b    1
c    2
d    3
dtype: int32
s4['c':]:  c    2
d    3
e    5
f    8
dtype: int32
s4['b':'e']:  b    1
c    2
d    3
e    5
dtype: int32

In [14]:
# 自动化对齐
s5 = pd.Series(np.array([10,15,20,30,55,80]),index = ['a','b','c','d','e','f'])
print(s5)
# 索引对不上的就产生缺失值NAN
s6 = pd.Series(np.array([12,11,13,15,14,16]),index = ['a','c','g','b','d','f'])
print(s6)
print(s5 + s6)
print(s5/s6)

a    10
b    15
c    20
d    30
e    55
f    80
dtype: int32
a    12
c    11
g    13
b    15
d    14
f    16
dtype: int32
a    22.0
b    30.0
c    31.0
d    44.0
e     NaN
f    96.0
g     NaN
dtype: float64
a    0.833333
b    1.000000
c    1.818182
d    2.142857
e         NaN
f    5.000000
g         NaN
dtype: float64

In [15]:
import pandas as pd
# 可以用这个pandas查询数据
stu_dic = {'Age':[14,13,13,14,14,12,12,15,13,12,11,14,12,15,16,12,15,11,15],
'Height':[69,56.5,65.3,62.8,63.5,57.3,59.8,62.5,62.5,59,51.3,64.3,56.3,66.5,72,64.8,67,57.5,66.5],
'Name':['Alfred','Alice','Barbara','Carol','Henry','James','Jane','Janet','Jeffrey','John','Joyce','Judy','Louise','Marry','Philip','Robert','Ronald','Thomas','Willam'],
'Sex':['M','F','F','F','M','M','F','F','M','M','F','F','F','F','M','M','M','M','M'],
'Weight':[112.5,84,98,102.5,102.5,83,84.5,112.5,84,99.5,50.5,90,77,112,150,128,133,85,112]}
student = pd.DataFrame(stu_dic)

In [16]:
print(student.head())
# 查询前五行数据

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
1   13    56.5    Alice   F    84.0
2   13    65.3  Barbara   F    98.0
3   14    62.8    Carol   F   102.5
4   14    63.5    Henry   M   102.5

In [17]:
print(student.tail())
# 查询最后五行数据

    Age  Height    Name Sex  Weight
14   16    72.0  Philip   M   150.0
15   12    64.8  Robert   M   128.0
16   15    67.0  Ronald   M   133.0
17   11    57.5  Thomas   M    85.0
18   15    66.5  Willam   M   112.0

In [18]:
print(student.loc[[0,2,4,5,7]])
# 查询指定的行

   Age  Height     Name Sex  Weight
0   14    69.0   Alfred   M   112.5
2   13    65.3  Barbara   F    98.0
4   14    63.5    Henry   M   102.5
5   12    57.3    James   M    83.0
7   15    62.5    Janet   F   112.5

In [20]:
print(student[['Name','Height','Weight']].head())
# 同样可以查询指定的列

      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5

In [21]:
print(student.loc[:,['Name','Height','Weight']].head())
# 这个也可以

      Name  Height  Weight
0   Alfred    69.0   112.5
1    Alice    56.5    84.0
2  Barbara    65.3    98.0
3    Carol    62.8   102.5
4    Henry    63.5   102.5

In [22]:
print(student[(student['Sex']=='F') & (student['Age']>12)])
# 查询十二岁以上所有的信息

    Age  Height     Name Sex  Weight
1    13    56.5    Alice   F    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
7    15    62.5    Janet   F   112.5
11   14    64.3     Judy   F    90.0
13   15    66.5    Marry   F   112.0

In [23]:
print(student[(student['Sex']=='F') & (student['Age']>12)][['Name','Height','Weight']])

       Name  Height  Weight
1     Alice    56.5    84.0
2   Barbara    65.3    98.0
3     Carol    62.8   102.5
7     Janet    62.5   112.5
11     Judy    64.3    90.0
13    Marry    66.5   112.0

In [24]:
# 进行统计分析
np.random.seed(1234)
d1 = pd.Series(2*np.random.normal(size = 100)+3)
d2 = np.random.f(2,4,size = 100)
d3 = np.random.randint(1,100,size = 100)

print('非空元素计算: ', d1.count()) #非空元素计算
print('最小值: ', d1.min()) #最小值
print('最大值: ', d1.max()) #最大值
print('最小值的位置: ', d1.idxmin()) #最小值的位置，类似于R中的which.min函数
print('最大值的位置: ', d1.idxmax()) #最大值的位置，类似于R中的which.max函数
print('10%分位数: ', d1.quantile(0.1)) #10%分位数
print('求和: ', d1.sum()) #求和
print('均值: ', d1.mean()) #均值
print('中位数: ', d1.median()) #中位数
print('众数: ', d1.mode()) #众数
print('方差: ', d1.var()) #方差
print('标准差: ', d1.std()) #标准差
print('平均绝对偏差: ', d1.mad()) #平均绝对偏差
print('偏度: ', d1.skew()) #偏度
print('峰度: ', d1.kurt()) #峰度
print('描述性统计指标: ', d1.describe()) #一次性输出多个描述性统计指标
# 这个describe只能针对序列或者数据框，一维数组是不行的

非空元素计算:  100
最小值:  -4.1270333212494705
最大值:  7.781921030926066
最小值的位置:  81
最大值的位置:  39
10%分位数:  0.6870184644069928
求和:  307.0224566250873
均值:  3.070224566250873
中位数:  3.204555266776845
众数:  0    -4.127033
1    -1.800907
2    -1.485370
3    -1.149955
4    -1.042510
5    -0.634054
6    -0.093811
7     0.108380
8     0.196053
9     0.618049
10    0.694682
11    0.714737
12    0.862022
13    0.944299
14    1.051527
15    1.147491
16    1.205686
17    1.429130
18    1.558823
19    1.688061
20    1.726953
21    1.830564
22    1.867108
23    1.903515
24    1.976237
25    2.061389
26    2.139809
27    2.200071
28    2.204320
29    2.310468
        ...
70    4.131477
71    4.263959
72    4.351108
73    4.408456
74    4.409441
75    4.510828
76    4.534737
77    4.633188
78    4.682018
79    4.683349
80    4.719177
81    4.727435
82    4.774326
83    4.906648
84    4.969840
85    4.983892
86    5.067601
87    5.091877
88    5.095157
89    5.117938
90    5.300071
91    5.636303
92    5.642211
93    5.642316
94    5.783972
95    5.865414
96    6.091318
97    7.015686
98    7.061207
99    7.781921
Length: 100, dtype: float64
方差:  4.005609378535087
标准差:  2.001401853335578
平均绝对偏差:  1.5112880411556104
偏度:  -0.6494780760484293
峰度:  1.2201094052398012
描述性统计指标:  count    100.000000
mean       3.070225
std        2.001402
min       -4.127033
25%        2.040101
50%        3.204555
75%        4.434788
max        7.781921
dtype: float64

In [25]:
def stats(x):
	return pd.Series([x.count(),x.min(),x.idxmin(),x.quantile(.25),x.median(),x.quantile(.75),
                      x.mean(),x.max(),x.idxmax(),x.mad(),x.var(),x.std(),x.skew(),x.kurt()],
                     index = ['Count','Min','Whicn_Min','Q1','Median','Q3','Mean','Max',
                              'Which_Max','Mad','Var','Std','Skew','Kurt'])
# 汇总指标
print(stats(d1))

Count        100.000000
Min           -4.127033
Whicn_Min     81.000000
Q1             2.040101
Median         3.204555
Q3             4.434788
Mean           3.070225
Max            7.781921
Which_Max     39.000000
Mad            1.511288
Var            4.005609
Std            2.001402
Skew          -0.649478
Kurt           1.220109
dtype: float64

In [26]:
df = pd.DataFrame(np.array([d1,d2,d3]).T,columns=['x1','x2','x3'])
print(df.head())

         x1        x2    x3
0  3.942870  1.369531  55.0
1  0.618049  0.943264  68.0
2  5.865414  0.590663  73.0
3  2.374696  0.206548  59.0
4  1.558823  0.223204  60.0

In [27]:
print(df.apply(stats))
# 将函数应用到数据框的每一列，自动生成想要的

                   x1          x2          x3
Count      100.000000  100.000000  100.000000
Min         -4.127033    0.014330    3.000000
Whicn_Min   81.000000   72.000000   76.000000
Q1           2.040101    0.249580   25.000000
Median       3.204555    1.000613   54.500000
Q3           4.434788    2.101581   73.000000
Mean         3.070225    2.028608   51.490000
Max          7.781921   18.791565   98.000000
Which_Max   39.000000   53.000000   96.000000
Mad          1.511288    1.922669   24.010800
Var          4.005609   10.206447  780.090808
Std          2.001402    3.194753   27.930106
Skew        -0.649478    3.326246   -0.118917
Kurt         1.220109   12.636286   -1.211579

In [28]:
# 前面的都是对数值型数据进行统计描述。如果是离散型的数据
# 就不能用这个统计口径了，这时候使用describe就行了
print(student['Sex'].describe())

count     19
unique     2
top        M
freq      10
Name: Sex, dtype: object

In [29]:
print(df.corr())
# 连续变量的相关系数

          x1        x2        x3
x1  1.000000  0.136085  0.037185
x2  0.136085  1.000000 -0.005688
x3  0.037185 -0.005688  1.000000

In [30]:
print(df.corr('spearman'))
# 相关系数计算

         x1        x2        x3
x1  1.00000  0.178950  0.006590
x2  0.17895  1.000000 -0.033874
x3  0.00659 -0.033874  1.000000

In [31]:
print(df.corrwith(df['x1']))
# 这个是只关心X1和其余变量之间相关系数

x1    1.000000
x2    0.136085
x3    0.037185
dtype: float64

In [32]:
print(df.cov())
# 构造协方差矩阵

          x1         x2          x3
x1  4.005609   0.870124    2.078596
x2  0.870124  10.206447   -0.507512
x3  2.078596  -0.507512  780.090808

In [33]:
# 这个pandas还可以实现数据库操作的
dic = {'Name':['LiuShunxiang','Zhangshan'],'Sex':['M','F'],'Age':[27,23],'Height':[165.7,167.2],'Weight':[61,63]}
student2 = pd.DataFrame(dic)
print(student2)

           Name Sex  Age  Height  Weight
0  LiuShunxiang   M   27   165.7      61
1     Zhangshan   F   23   167.2      63

In [34]:
student3 = pd.concat([student,student2])
print(student3)
# 这个是将学生2加到student里面去
# 这个还能自动对齐两个数据框的变量

    Age  Height          Name Sex  Weight
0    14    69.0        Alfred   M   112.5
1    13    56.5         Alice   F    84.0
2    13    65.3       Barbara   F    98.0
3    14    62.8         Carol   F   102.5
4    14    63.5         Henry   M   102.5
5    12    57.3         James   M    83.0
6    12    59.8          Jane   F    84.5
7    15    62.5         Janet   F   112.5
8    13    62.5       Jeffrey   M    84.0
9    12    59.0          John   M    99.5
10   11    51.3         Joyce   F    50.5
11   14    64.3          Judy   F    90.0
12   12    56.3        Louise   F    77.0
13   15    66.5         Marry   F   112.0
14   16    72.0        Philip   M   150.0
15   12    64.8        Robert   M   128.0
16   15    67.0        Ronald   M   133.0
17   11    57.5        Thomas   M    85.0
18   15    66.5        Willam   M   112.0
0    27   165.7  LiuShunxiang   M    61.0
1    23   167.2     Zhangshan   F    63.0

C:\python_code\metro_ai\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [35]:
print(pd.DataFrame(student2, columns=['Age','Height','Name','Sex','Weight','Score']))
# 直接新增一列，没有值就NAN

   Age  Height          Name Sex  Weight  Score
0   27   165.7  LiuShunxiang   M      61    NaN
1   23   167.2     Zhangshan   F      63    NaN

In [36]:
del student2 #删除数据框student2, 通过del命令可以删除python的所有对象
print(student2)

NameError: name 'student2' is not defined

In [37]:
print(student.drop([0,1,3,6]))
# 删除指定行

    Age  Height     Name Sex  Weight
2    13    65.3  Barbara   F    98.0
4    14    63.5    Henry   M   102.5
5    12    57.3    James   M    83.0
7    15    62.5    Janet   F   112.5
8    13    62.5  Jeffrey   M    84.0
9    12    59.0     John   M    99.5
10   11    51.3    Joyce   F    50.5
11   14    64.3     Judy   F    90.0
12   12    56.3   Louise   F    77.0
13   15    66.5    Marry   F   112.0
14   16    72.0   Philip   M   150.0
15   12    64.8   Robert   M   128.0
16   15    67.0   Ronald   M   133.0
17   11    57.5   Thomas   M    85.0
18   15    66.5   Willam   M   112.0

In [38]:
print(student[student['Age']>14])
# 删除十四岁一下的学生

    Age  Height    Name Sex  Weight
7    15    62.5   Janet   F   112.5
13   15    66.5   Marry   F   112.0
14   16    72.0  Philip   M   150.0
16   15    67.0  Ronald   M   133.0
18   15    66.5  Willam   M   112.0

In [39]:
print(student.drop(['Height','Weight'],axis=1).head())
# 删除指定列
# axis为0就是删除行

   Age     Name Sex
0   14   Alfred   M
1   13    Alice   F
2   13  Barbara   F
3   14    Carol   F
4   14    Henry   M

In [41]:
student3.loc[student3['Name'] == 'LiuShunxiang','Height']=173
# 修改原始记录数据
print(student3[student3['Name'] == 'LiuShunxiang'][['Name','Height']])

           Name  Height
0  LiuShunxiang   173.0

In [42]:
# 实现聚合操作
print(student.groupby('Sex').mean())
# 计算平均值

           Age     Height      Weight
Sex
F    13.222222  60.588889   90.111111
M    13.400000  63.910000  108.950000

In [43]:
print(student.drop('Age',axis=1).groupby('Sex').mean())
# 不对年龄进行计算

        Height      Weight
Sex
F    60.588889   90.111111
M    63.910000  108.950000

In [44]:
print(student.groupby(['Sex','Age']).mean())
# 使用分组变量，根据性别和年龄，计算身高和体重的平均值

            Height  Weight
Sex Age
F   11   51.300000   50.50
    12   58.050000   80.75
    13   60.900000   91.00
    14   63.550000   96.25
    15   64.500000  112.25
M   11   57.500000   85.00
    12   60.366667  103.50
    13   62.500000   84.00
    14   66.250000  107.50
    15   66.750000  122.50
    16   72.000000  150.00

In [45]:
print(student.drop('Age',axis=1).groupby('Sex').agg([np.mean,np.median]))
# 对每个分组计算多个统计量

        Height             Weight
          mean median        mean  median
Sex
F    60.588889  62.50   90.111111   90.00
M    63.910000  64.15  108.950000  107.25

In [47]:
Data = pd.Series(np.array(np.random.randint(1,20,10)))
print(Data)
print(Data.sort_index())
print("\n")
print(Data.sort_values(ascending=False))
# 从大到小反着来排序
# 进行排序操作

0    11
1     4
2    19
3    12
4     4
5    14
6    17
7    10
8     1
9     5
dtype: int32
0    11
1     4
2    19
3    12
4     4
5    14
6    17
7    10
8     1
9     5
dtype: int32


2    19
6    17
5    14
3    12
0    11
7    10
9     5
4     4
1     4
8     1
dtype: int32

In [48]:
print(student.sort_values(by = ['Age','Height']))
# 一般都是按值排序

    Age  Height     Name Sex  Weight
10   11    51.3    Joyce   F    50.5
17   11    57.5   Thomas   M    85.0
12   12    56.3   Louise   F    77.0
5    12    57.3    James   M    83.0
9    12    59.0     John   M    99.5
6    12    59.8     Jane   F    84.5
15   12    64.8   Robert   M   128.0
1    13    56.5    Alice   F    84.0
8    13    62.5  Jeffrey   M    84.0
2    13    65.3  Barbara   F    98.0
3    14    62.8    Carol   F   102.5
4    14    63.5    Henry   M   102.5
11   14    64.3     Judy   F    90.0
0    14    69.0   Alfred   M   112.5
7    15    62.5    Janet   F   112.5
13   15    66.5    Marry   F   112.0
18   15    66.5   Willam   M   112.0
16   15    67.0   Ronald   M   133.0
14   16    72.0   Philip   M   150.0

In [49]:
dic2 = {'Name':['Alfred','Alice','Barbara','Carol','Henry','Jeffrey','Judy','Philip','Robert','Willam'],
        'Score':[88,76,89,67,79,90,92,86,73,77]}
score = pd.DataFrame(dic2)
print(score)

      Name  Score
0   Alfred     88
1    Alice     76
2  Barbara     89
3    Carol     67
4    Henry     79
5  Jeffrey     90
6     Judy     92
7   Philip     86
8   Robert     73
9   Willam     77

In [50]:
stu_score1 = pd.merge(student, score, on='Name')
print(stu_score1)
# 将两个表关联起来用merge，这个实现的是两个表之间的内连接
# 也就是返回两表中共同的部分

   Age  Height     Name Sex  Weight  Score
0   14    69.0   Alfred   M   112.5     88
1   13    56.5    Alice   F    84.0     76
2   13    65.3  Barbara   F    98.0     89
3   14    62.8    Carol   F   102.5     67
4   14    63.5    Henry   M   102.5     79
5   13    62.5  Jeffrey   M    84.0     90
6   14    64.3     Judy   F    90.0     92
7   16    72.0   Philip   M   150.0     86
8   12    64.8   Robert   M   128.0     73
9   15    66.5   Willam   M   112.0     77

In [51]:
# 可以通过how参数设置连接方式，左右外
stu_score2 = pd.merge(student, score, on='Name', how='left')
print(stu_score2)
# 左连接也就是保留左边表的所有信息，能匹配多少就多少，没有的就NAN
# 类推右连接

    Age  Height     Name Sex  Weight  Score
0    14    69.0   Alfred   M   112.5   88.0
1    13    56.5    Alice   F    84.0   76.0
2    13    65.3  Barbara   F    98.0   89.0
3    14    62.8    Carol   F   102.5   67.0
4    14    63.5    Henry   M   102.5   79.0
5    12    57.3    James   M    83.0    NaN
6    12    59.8     Jane   F    84.5    NaN
7    15    62.5    Janet   F   112.5    NaN
8    13    62.5  Jeffrey   M    84.0   90.0
9    12    59.0     John   M    99.5    NaN
10   11    51.3    Joyce   F    50.5    NaN
11   14    64.3     Judy   F    90.0   92.0
12   12    56.3   Louise   F    77.0    NaN
13   15    66.5    Marry   F   112.0    NaN
14   16    72.0   Philip   M   150.0   86.0
15   12    64.8   Robert   M   128.0   73.0
16   15    67.0   Ronald   M   133.0    NaN
17   11    57.5   Thomas   M    85.0    NaN
18   15    66.5   Willam   M   112.0   77.0

In [53]:
# 进行缺失值处理
# 第一种是删除，如果变量大部分是确实的就删了这变量。
# 随机分布的如果缺失的数量不多那些也可以删了这些缺失的观测
# 第二种是替补，连续型变量，什么正态分布这些就用均值来代替，
# 有偏的就用中位数来代替，离散的就用众数代替
# 第三种是插补法，用预测值来替换缺失值
s = stu_score2['Score']
print(s)

0     88.0
1     76.0
2     89.0
3     67.0
4     79.0
5      NaN
6      NaN
7      NaN
8     90.0
9      NaN
10     NaN
11    92.0
12     NaN
13     NaN
14    86.0
15    73.0
16     NaN
17     NaN
18    77.0
Name: Score, dtype: float64

In [54]:
print(sum(pd.isnull(s)))
# 检测有多少缺失值

9

In [55]:
print(s.dropna())
# 直接删了这些缺失值

0     88.0
1     76.0
2     89.0
3     67.0
4     79.0
8     90.0
11    92.0
14    86.0
15    73.0
18    77.0
Name: Score, dtype: float64

In [57]:
df = pd.DataFrame([[1,1,2],[3,5,np.nan],[13,21,34],[55,np.nan,10],[np.nan,np.nan,np.nan],[np.nan,1,2]],columns=('x1','x2','x3'))
print(df)
print(df.dropna())
print("只要有NAN的这行都删了")
# 如果用参数how=all就表示只删除所有都缺失的观测

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   NaN
2  13.0  21.0  34.0
3  55.0   NaN  10.0
4   NaN   NaN   NaN
5   NaN   1.0   2.0
     x1    x2    x3
0   1.0   1.0   2.0
2  13.0  21.0  34.0
只要有NAN的这行都删了

In [58]:
print(df.fillna(0))
# 用0来填补缺失值

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   0.0
2  13.0  21.0  34.0
3  55.0   0.0  10.0
4   0.0   0.0   0.0
5   0.0   1.0   2.0

In [59]:
print(df.fillna(method='ffill'))
print(df.fillna(method='bfill'))
# 前项填充和后向填充

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   2.0
2  13.0  21.0  34.0
3  55.0  21.0  10.0
4  55.0  21.0  10.0
5  55.0   1.0   2.0
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  34.0
2  13.0  21.0  34.0
3  55.0   1.0  10.0
4   NaN   1.0   2.0
5   NaN   1.0   2.0

In [60]:
print(df.fillna({'x1':1,'x2':2,'x3':3}))
# 常量填充

     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0   3.0
2  13.0  21.0  34.0
3  55.0   2.0  10.0
4   1.0   2.0   3.0
5   1.0   1.0   2.0

In [61]:
x1_median=df['x1'].median()
x2_mean=df['x2'].mean()
x3_mean=df['x3'].mean()
# 用中位数，平均数填充
print(x1_median)
print(x2_mean)
print(x3_mean)
print(df.fillna({'x1':x1_median,'x2':x2_mean,'x3':x3_mean}))

8.0
7.0
12.0
     x1    x2    x3
0   1.0   1.0   2.0
1   3.0   5.0  12.0
2  13.0  21.0  34.0
3  55.0   7.0  10.0
4   8.0   7.0  12.0
5   8.0   1.0   2.0

In [62]:
# pandas还可以实现excel的数据透视表功能，查看数据的聚合情况
Table1 = pd.pivot_table(student, values=['Height'], columns=['Sex'])
print(Table1)
# 这里是对一个分组变量，一个数值变量进行统计汇总

Sex             F      M
Height  60.588889  63.91

In [63]:
Table2 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex'])
print(Table2)
# 这里可以对两个数值变量进行统计汇总

Sex             F       M
Height  60.588889   63.91
Weight  90.111111  108.95

In [64]:
Table3 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex','Age'])
print(Table3)

        Sex  Age
Height  F    11      51.300000
             12      58.050000
             13      60.900000
             14      63.550000
             15      64.500000
        M    11      57.500000
             12      60.366667
             13      62.500000
             14      66.250000
             15      66.750000
             16      72.000000
Weight  F    11      50.500000
             12      80.750000
             13      91.000000
             14      96.250000
             15     112.250000
        M    11      85.000000
             12     103.500000
             13      84.000000
             14     107.500000
             15     122.500000
             16     150.000000
dtype: float64

In [65]:
Table4 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex','Age']).unstack()
print(Table4)
# 这样子的话就好看一些了，进行非堆叠操作unstack

Age           11          12    13      14      15     16
       Sex
Height F    51.3   58.050000  60.9   63.55   64.50    NaN
       M    57.5   60.366667  62.5   66.25   66.75   72.0
Weight F    50.5   80.750000  91.0   96.25  112.25    NaN
       M    85.0  103.500000  84.0  107.50  122.50  150.0

In [66]:
Table5 = pd.pivot_table(student, values=['Height','Weight'], columns=['Sex'],aggfunc=[np.mean,np.median,np.std])
print(Table5)
# 多聚合

             mean         median                std
Sex             F       M      F       M          F          M
Height  60.588889   63.91   62.5   64.15   5.018328   4.937937
Weight  90.111111  108.95   90.0  107.25  19.383914  22.727186

In [68]:
# 多层索引
s = pd.Series(np.arange(1,10),index=[["a","a","a","b","b","c","c","d","d"],[1,2,3,1,2,3,1,2,3]])
print(s)
# 就是进行行索引和列索引

a  1    1
   2    2
   3    3
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32

In [69]:
print(s.index)

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 2]])

In [70]:
#选取外层索引为a的数据
print(s['a'])
#选取外层索引为a和内层索引为1的数据
print(s['a',1])
#选取外层索引为a和内层索引为1,3的数据
print(s['a'][[1,3]])
#层次化索引的切片，包括右端的索引
print(s[['a','c']])
print(s['b':'d'])
#通过unstack方法可以将Series变成一个DataFrame
#数据的类型以及数据的输出结构都变成了DataFrame，对于不存在的位置使用NaN填充
print(s.unstack())

1    1
2    2
3    3
dtype: int32
1
1    1
3    3
dtype: int32
a  1    1
   2    2
   3    3
c  3    6
   1    7
dtype: int32
b  1    4
   2    5
c  3    6
   1    7
d  2    8
   3    9
dtype: int32
     1    2    3
a  1.0  2.0  3.0
b  4.0  5.0  NaN
c  7.0  NaN  6.0
d  NaN  8.0  9.0

In [72]:
# 进行层次化索引
data = pd.DataFrame(np.random.randint(0,150,size=(8,12)),
               columns = pd.MultiIndex.from_product([['模拟考','正式考'],
                                                   ['数学','语文','英语','物理','化学','生物']]),
               index = pd.MultiIndex.from_product([['期中','期末'],
                                                   ['雷军','李斌'],
                                                  ['测试一','测试二']]))
print(data)

           模拟考                           正式考
            数学   语文   英语   物理   化学   生物   数学   语文   英语   物理   化学   生物
期中 雷军 测试一   57  101   79   45  143    7  145   65   33  147   21   27
      测试二   52   31   44    2   84  149  102  100  114    1    7   58
   李斌 测试一   66  131   27  116   17  109  110   85  144   66   50   94
      测试二   37   26  137  133   51   51   36  134   44   48   26    6
期末 雷军 测试一   30  137  114    4   16  100   75   82  137   77   11   93
      测试二  136    0   90   54   70   86   39  104   98  137   80  102
   李斌 测试一  104   11   52  137  118   39   14   34  107  147  141   70
      测试二   74    5   61   88  117   89   46   41   97   15  124  115

In [73]:
print(data.loc['期中','雷军','测试一']['模拟考','数学'])

57

In [74]:
print(data.loc['期中','雷军','测试一'])

模拟考  数学     57
     语文    101
     英语     79
     物理     45
     化学    143
     生物      7
正式考  数学    145
     语文     65
     英语     33
     物理    147
     化学     21
     生物     27
Name: (期中, 雷军, 测试一), dtype: int32

In [75]:
print(data.iloc[0])

模拟考  数学     57
     语文    101
     英语     79
     物理     45
     化学    143
     生物      7
正式考  数学    145
     语文     65
     英语     33
     物理    147
     化学     21
     生物     27
Name: (期中, 雷军, 测试一), dtype: int32

In [76]:
print(data['正式考'])

            数学   语文   英语   物理   化学   生物
期中 雷军 测试一  145   65   33  147   21   27
      测试二  102  100  114    1    7   58
   李斌 测试一  110   85  144   66   50   94
      测试二   36  134   44   48   26    6
期末 雷军 测试一   75   82  137   77   11   93
      测试二   39  104   98  137   80  102
   李斌 测试一   14   34  107  147  141   70
      测试二   46   41   97   15  124  115